
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #DAD7D7;
    text-decoration: none;
}

a{
    color:#333;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/*  шапка */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.header-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* лого */
.logo {
    display: flex;
    width:100px; height: 100px;
    border-radius: 50%;
    background: url(logo.png); 
    background-size: auto 100px;
}

.logo img {
    height: 40px;
    margin-left: 10px;
    float: left;
    margin: 0;
    position: absolute;
}

/* git */
.site-title {
    margin: 0;
}

.site-link a{
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}

.site-link a:hover{
    color: darkgrey;
}

/* ссылки */
.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-menu li {
    margin-left: 20px;
}

.main-menu a {
    font-size: 20px;
    color:whitesmoke;
    text-decoration: none;
}

.main-menu a:hover{
    color: darkgrey;
}

/* таблица */
.data-table {
    width: 100%;
    border-collapse: collapse;
    border: solid 3px #333;
}

.data-table th, .data-table td {
    padding: 10px;
    text-align: left;
    border: solid 1px #333;
}

.data-table th {
    background-color: #333;
    color: #fff;
    grid-column: auto;
    border: solid 1px #DAD7D7;
    text-align:left;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* подвал */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
}
